@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}<style>

    body {
        background-color: #edc760;
    }

    p {
        font-size: 18px;
        margin-bottom: 40px;
    }

    h3 {
        @*text-align: center;*@
        text-decoration: underline;
    }
    </style>

<div>
    <h2></h2>
    <p>Moonlight lamp is the large lamp producing and selling company. It sells unique mindblowing lamps of all varieties. </p>

    <h3>Headquarters</h3>
    <p>The corporate headquarter of our company is located in Toronto, Ontario. As it is the most populated and best place to get raw material at cheap 
    price and with best quality in Ontario. It is also located in center of the city so its easy for us to find skilled workers</p>

    <h3>Staff</h3>
    <p>We give employment to both educated and uneducated people as we need both of this type. Our staff also include creative people and well trained 
    and experienced designer who designs best and unique lamps.</p>

    <h3>Description</h3>
    <p>We have speciality in making bedroom lamps. But we also make special occasion lamps like lamp for Christmas, party, circus and many more. 
    In our lamp we include special lighting effects to make it more attractive for the customers.</p>
</div>
