@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        font-family: 'Bookman Old Style';
    }

    .portfolio_buttons {
        width: 100%;
        /* height: 50px; */
        /* background-color: lightcoral; */
        margin-top: 0px;
    }


        .portfolio_buttons .box_a:hover {
            color: white;
        }

        .portfolio_buttons .box_b:hover {
            background-color: #ffbc06;
            color: white !important;
        }

    .box_a a {
        background-color: #ffbc06 !important;
        color: white !important;
        font-size: 14px;
        font-weight: 600;
    }

    .box_b {
        border: none !important;
    }

        .box_b a {
            color: #444444 !important;
            font-size: 14px !important;
            font-weight: 600 !important;
            border: none !important;
        }

    .page-link:hover {
        background-color: #ffbc06 !important;
        color: white !important;
    }

    .yellow_hover {
        border-radius: 0% !important;
        overflow: hidden;
        border: 0;
        padding: 0px;
        position: relative;
    }

    .yellow_hover::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(0);
        transition: 0.5s;
        background-color: rgba(255, 188, 6, 0.5);
    }

    .yellow_hover:hover:before {
        content: "";
        background-color: rgba(255, 188, 6, 0.5);
        width: 100%;
        transform: scale(1);
        transition: 0.5s;
        position: absolute;
        height: 100%;
    }

    .magnum_text {
        background-color: white;
    }
</style>

<div class="text-center">
    <h1 class="display-4"><b>Moonlight Lamps</b></h1>
</div>

<section id="portfolio">
    <div class="container my-5">
        <div class="magnum_text text-center px-0 mb-3">
            <p>
                Lamps are an artificial source of light. They produce light by fetching electricity and were introduced some 400 years back.
                There are distinct variety of lamps available in the market and all of them have their own purpose of giving light.
            </p>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center mb-5">
                    <li class="page-item box_a">
                        <a class="page-link mr-2 rounded-right" href="#">ALL</a>
                    </li>
                    <li class="page-item box_b"><a class="page-link mr-2 rounded" href="#">Bedroom</a></li>
                    <li class="page-item box_b"><a class="page-link mr-2 rounded" href="#">Outdoor</a></li>
                    <li class="page-item box_b"><a class="page-link mr-2 rounded" href="#">Wall</a></li>
                </ul>
            </nav>

            <div class="card-columns">
                <div class="card yellow_hover">
                    <img class="card-img-top" src="https://images.pexels.com/photos/939331/pexels-photo-939331.jpeg?cs=srgb&dl=pexels-daan-stevens-939331.jpg&fm=jpg" alt="Card image cap">
                    <p style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 10px; text-align: left">silver Shade Table Lamp With Silver Metal Base</p><br />
                </div>

                <div class="card yellow_hover">
                    <img class="card-img-top" src="https://images.pexels.com/photos/1123262/pexels-photo-1123262.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
                    <p style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 10px; text-align: left">Black Metal Contemporary Single Hanging Lights</p><br />
                </div>

                <div class="card yellow_hover">
                    <img class="card-img-top" src="https://images.pexels.com/photos/1067465/pexels-photo-1067465.jpeg?cs=srgb&dl=pexels-brett-sayles-1067465.jpg&fm=jpg" alt="Card image cap">
                    <p style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 10px; text-align: left">Silver Metal Contemporary five Standing lamp</p><br />
                </div>
                <div class="card yellow_hover">
                    <img class="card-img-top" src="https://images.pexels.com/photos/2233416/pexels-photo-2233416.jpeg?cs=srgb&dl=pexels-ahmed-aqtai-2233416.jpg&fm=jpg" alt="Card image cap">
                    <p style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 10px; text-align: left">Colourful Glass Wall Sconces</p><br />

                </div>

                <div class="card yellow_hover">
                    <img class="card-img-top" src="https://images.pexels.com/photos/1657378/pexels-photo-1657378.jpeg?cs=srgb&dl=pexels-marius-mann-1657378.jpg&fm=jpg" alt="Card image cap">
                    <p style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 10px; text-align: left">Black Iron 3 Light Cluster Hanging Lights</p><br />
                </div>

                <div class="card yellow_hover">
                    <img class="card-img" src="https://images.pexels.com/photos/1457844/pexels-photo-1457844.jpeg?cs=srgb&dl=pexels-jean-van-der-meulen-1457844.jpg&fm=jpg" alt="Card image">
                    <p style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 10px; text-align: left">Golden & Beige Fabric Shade Table Lamp With Black Base</p><br />
                </div>

                <div class="card yellow_hover">
                    <img class="card-img" src="https://images.pexels.com/photos/788855/pexels-photo-788855.jpeg?cs=srgb&dl=pexels-nikita-khandelwal-788855.jpg&fm=jpg" alt="Card image">
                    <p style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 10px; text-align: left">Black Metal Contemporary Single Hanging Lights</p><br />
                </div>

                <div class="card yellow_hover">
                    <img class="card-img" src="https://images.pexels.com/photos/941794/pexels-photo-941794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image">
                    <p style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 10px; text-align: left">Green & Gold Shade Table Lamp With Antique Terracotta Base</p><br />
                </div>

                <div class="card yellow_hover">
                    <img class="card-img" src="https://images.pexels.com/photos/1176516/pexels-photo-1176516.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image">
                    <p style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 10px; text-align: left">Orange & White Shade Table Lamp With Black Metal Base</p><br />
                </div>

                <div class="card yellow_hover">
                    <img class="card-img" src="https://images.pexels.com/photos/693895/pexels-photo-693895.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" " alt="Card image">
                    <p style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 10px; text-align: left">Multicolour Shade Table Lamp With Black Metal Base</p><br />
                </div>
                <div class="card yellow_hover">
                    <img class="card-img" src="https://images.pexels.com/photos/3043798/pexels-photo-3043798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image">
                    <p style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 10px; text-align: left">Black Metal Single Hanging Lights</p><br />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center text-lg-start text-muted">
   
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Moonlight Lamps
                    </h6>
                    <p>
                        Moonlight lamp is the latest lamp producing company which produces all kind of lamps.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Wall lamp</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Hanging lamp</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Outdoor lamp</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Bedroom lamp</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Ceiling lamp</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Pricing</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Settings</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Orders</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p> Quebec, Qc 211456, Canada</p>
                    <p>
                        info@example.com
                    </p>
                    <p> + 01 234 567 88</p>
                    <p> + 01 234 567 89</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a> <i>and</i>
        <a class="text-reset fw-bold" href="https://www.pexels.com/search/lamp/">Pexels.com</a>

    </div>
</footer>
