@{
    ViewData["Title"] = "Home Page";
}
<style>

    .text-center {
        background-color: #ffbc06;
    }
</style>

<div class="text-center">
    <h1 class="display-4"><b>Moonlight Lamps</b></h1>
</div>
